@page
@model Topaz.UI.Razor.Pages.StreetTerritories.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StreetTerritory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StreetTerritory.TerritoryId" />
            <div class="form-group">
                <label asp-for="StreetTerritory.TerritoryCode" class="control-label"></label>
                <input asp-for="StreetTerritory.TerritoryCode" class="form-control" />
                <span asp-validation-for="StreetTerritory.TerritoryCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetTerritory.MapLocation" class="control-label"></label>
                <input asp-for="StreetTerritory.MapLocation" class="form-control" />
                <span asp-validation-for="StreetTerritory.MapLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetTerritory.Notes" class="control-label"></label>
                <input asp-for="StreetTerritory.Notes" class="form-control" />
                <span asp-validation-for="StreetTerritory.Notes" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="StreetTerritory.InActive" /> @Html.DisplayNameFor(model => model.StreetTerritory.InActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
