@page "{type}"
@inject IOptions<AppSettingsOptions> AppSettings
@model Topaz.UI.Razor.Areas.Admin.Pages.Territory.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div id="app"></div>

@section Scripts {
    <script type="text/javascript" src="@Url.Content($"~/client-app/js/app.js")" asp-append-version="true"></script>
    <script type="text/javascript" src="@Url.Content($"~/client-app/js/chunk-vendors.js")" asp-append-version="true"></script>
}