@page "{type}"
@inject IOptions<AppSettingsOptions> AppSettings
@model Topaz.UI.Razor.Areas.Admin.Pages.Territory.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div id="app"></div>

@section Scripts {
    <script type="text/javascript" asp-src-include="~/client-app/js/app.*.js"></script>
    <script type="text/javascript" asp-src-include="~/client-app/js/chunk-vendors.*.js"></script>
}