@page
@inject IOptions<AppSettingsOptions> AppSettings
@model InaccessibleAssignmentsModel
@{
    ViewData["Title"] = "Publisher's Inaccesible Assignments";
}

<div id="app"></div>

@section Styles {
    <link rel="stylesheet" href="@Url.Content($"~/client-app/css/app.css?i={AppSettings.Value.CacheInvalidator}")" />
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content($"~/client-app/js/app.js?i={AppSettings.Value.CacheInvalidator}")"></script>
    <script type="text/javascript" src="@Url.Content($"~/client-app/js/chunk-vendors.js?i={AppSettings.Value.CacheInvalidator}")"></script>
}