@page
@inject IOptions<AppSettingsOptions> AppSettings
@model InaccessibleAssignmentsModel
@{
    ViewData["Title"] = "Publisher's Inaccesible Assignments";
}

<div id="app"></div>

@section Styles {
    <link rel="stylesheet" href="@Url.Content($"~/client-app/css/app.css")" asp-append-version="true" />
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content($"~/client-app/js/app.js")" asp-append-version="true"></script>
    <script type="text/javascript" src="@Url.Content($"~/client-app/js/chunk-vendors.js")" asp-append-version="true"></script>
}