@page
@inject IOptions<AppSettingsOptions> AppSettings
@model StreetTerritoriesModel
@{
    ViewData["Title"] = "Publisher's Street Territories";
}

<div id="app"></div>

@section Scripts {
    <script type="text/javascript" src="@Url.Content($"~/client-app/js/app.js")" asp-append-version="true"></script>
    <script type="text/javascript" src="@Url.Content($"~/client-app/js/chunk-vendors.js")" asp-append-version="true"></script>
}