@page
@model Topaz.UI.Razor.Pages.StreetActivity.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CheckedOut[0].StreetTerritory.TerritoryCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckedOut[0].CheckOutDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CheckedOut) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StreetTerritory.TerritoryCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOutDate)
            </td>
            <td>
                View |
                Rework |
                Check In
            </td>
        </tr>
}
    </tbody>
</table>
