@page
@model Topaz.UI.Razor.Pages.InaccessibleTerritories.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>InaccessibleTerritory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InaccessibleTerritory.TerritoryCode" class="control-label"></label>
                <input asp-for="InaccessibleTerritory.TerritoryCode" class="form-control" />
                <span asp-validation-for="InaccessibleTerritory.TerritoryCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InaccessibleTerritory.StreetTerritory" class="control-label"></label>
                <select asp-for="InaccessibleTerritory.StreetTerritoryId" class="form-control" asp-items="@Model.SelectListStreetTerritory">
                    <option value="">-- Select Street Territory --</option>
                </select>
                <span asp-validation-for="InaccessibleTerritory.StreetTerritoryId" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="InaccessibleTerritory.Notes" class="control-label"></label>
                <input asp-for="InaccessibleTerritory.Notes" class="form-control" />
                <span asp-validation-for="InaccessibleTerritory.Notes" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="InaccessibleTerritory.InActive" /> @Html.DisplayNameFor(model => model.InaccessibleTerritory.InActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
