@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Territory</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", required: false)
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand d-none d-lg-block" asp-area="" asp-page="/Index">Territory</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-md-inline-flex flex-md-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Publisher/InaccessibleAssignments">Assignments</a>
                            </li>
                            @if (User.IsInRole("Administrator") || User.IsInRole("Street Territory Coordinator") || User.IsInRole("Inaccessible Territory Coordinator"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="dd-activity" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Activity
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dd-activity">
                                        @if (User.IsInRole("Administrator") || User.IsInRole("Apartment Territory Coordinator"))
                                        {
                                            <a class="dropdown-item" asp-area="" asp-page="/Publisher/ApartmentTerritories">Apartment Territory</a>
                                        }
                                        @if (User.IsInRole("Administrator") || User.IsInRole("Business Territory Coordinator"))
                                        {
                                            <a class="dropdown-item" asp-area="" asp-page="/Publisher/BusinessTerritories">Business Territory</a>
                                        }
                                        @if (User.IsInRole("Administrator") || User.IsInRole("Inaccessible Territory Coordinator"))
                                        {
                                            <a class="dropdown-item" asp-area="" asp-page="/Publisher/InaccessibleTerritories">Inaccessible Territory</a>
                                        }
                                        @if (User.IsInRole("Administrator") || User.IsInRole("Street Territory Coordinator"))
                                        {
                                            <a class="dropdown-item" asp-area="" asp-page="/Publisher/StreetTerritories">Street Territory</a>
                                        }
                                    </div>
                                </li>
                            }
                        }
                        @if (User.IsInRole("Administrator"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dd-admin" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Admin
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dd-admin">
                                    <a class="dropdown-item" asp-area="Admin" asp-page="/LetterDoNotContact/Index">Do Not
                                        Contact - Letter</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-page="/PhoneDoNotContact/Index">Do Not
                                        Contact - Phone</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-page="/StreetDoNotContact/Index">Do Not
                                        Contact - Street</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-page="/ApartmentTerritories/Index">Apartment Territory</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-page="/BusinessTerritories/Index">Business Territory</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-page="/InaccessibleTerritories/Index">Inaccessible Territory</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-page="/StreetTerritories/Index">Street Territory</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-page="/Users/Index">Users</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-page="/Publishers/Index">Publishers</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-page="/Roles/Index">Roles</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-page="/Territory/Index" asp-route-type="street">Activity</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Territory
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>