@page
@model Topaz.UI.Razor.Pages.Contacts.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>InaccessibleContact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InaccessibleContact.InaccessibleContactListId" class="control-label"></label>
                <select asp-for="InaccessibleContact.InaccessibleContactListId" class ="form-control" asp-items="ViewBag.InaccessibleContactListId"></select>
            </div>
            <div class="form-group">
                <label asp-for="InaccessibleContact.FirstName" class="control-label"></label>
                <input asp-for="InaccessibleContact.FirstName" class="form-control" />
                <span asp-validation-for="InaccessibleContact.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InaccessibleContact.LastName" class="control-label"></label>
                <input asp-for="InaccessibleContact.LastName" class="form-control" />
                <span asp-validation-for="InaccessibleContact.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InaccessibleContact.MiddleInitial" class="control-label"></label>
                <input asp-for="InaccessibleContact.MiddleInitial" class="form-control" />
                <span asp-validation-for="InaccessibleContact.MiddleInitial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InaccessibleContact.Age" class="control-label"></label>
                <input asp-for="InaccessibleContact.Age" class="form-control" />
                <span asp-validation-for="InaccessibleContact.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InaccessibleContact.MailingAddress" class="control-label"></label>
                <input asp-for="InaccessibleContact.MailingAddress" class="form-control" />
                <span asp-validation-for="InaccessibleContact.MailingAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InaccessibleContact.PhoneTypeId" class="control-label"></label>
                <select asp-for="InaccessibleContact.PhoneTypeId" class ="form-control" asp-items="ViewBag.PhoneTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="InaccessibleContact.PhoneNumber" class="control-label"></label>
                <input asp-for="InaccessibleContact.PhoneNumber" class="form-control" />
                <span asp-validation-for="InaccessibleContact.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
