@page
@{
    ViewData["Title"] = "My Street Territory";
}

<div id="app"></div>

@section Scripts {
    <script type="text/javascript" src="~/js/bundle.vendor.js"></script>
    <script type="text/javascript" src="~/js/bundle.currentStreet.js"></script>
}